RewriteEngine On # Turn on the rewriting engine
RewriteRule ^mahasiswa/?$ mahasiswa.php [NC,L]
RewriteRule ^properti/?$ properti.php [NC,L]
RewriteRule ^loginadmin/?$ loginadmin.php [NC,L]
RewriteRule ^getransaksi/?$ getransaksi.php [NC,L]
RewriteRule ^createtransaksi/?$ createtransaksi.php [NC,L]
RewriteRule ^lapanganfutsal/?$ lapanganfutsal.php [NC,L]
RewriteRule ^daftaruser/?$ daftaruser.php [NC,L]
RewriteRule ^loginuser/?$ loginuser.php [NC,L]
RewriteRule ^cekuser/?$ cekuser.php [NC,L]
RewriteRule ^cekuseradmin/?$ cekuseradmin.php [NC,L]
RewriteRule ^getjamuser/?$ getjamuser.php [NC,L]
RewriteRule ^tambahfasilitas/?$ tambahfasilitas.php [NC,L]
RewriteRule ^deltrxadmin/([0-9]+)/?$ deltrxadmin.php?id=$1 [NC,L]
RewriteRule ^mahasiswa/([0-9]+)/?$ mahasiswa.php?id=$1 [NC,L]
RewriteRule ^getransaksi/([0-9]+)/?$ getransaksi.php?id=$1 [NC,L]
RewriteRule ^transaksiuser/([0-9]+)/?$ transaksiuser.php?id=$1 [NC,L]
RewriteRule ^getfasilitasuser/([0-9]+)/?$ getfasilitasuser.php?id=$1 [NC,L]
RewriteRule ^gethariuser/([0-9]+)/?$ gethariuser.php?id=$1 [NC,L]
RewriteRule ^edithari/([0-9]+)/?$ edithari.php?id=$1 [NC,L]
RewriteRule ^updatestatusjam/([0-9]+)/?$ updatestatusjam.php?id=$1 [NC,L]
RewriteRule ^updatetransaksi/([0-9]+)/?$ updatetransaksi.php?id=$1 [NC,L]
RewriteRule ^updatefotolap/([0-9]+)/?$ updatefotolap.php?id=$1 [NC,L]
RewriteRule ^uploadbukti/([0-9]+)/?$ uploadbukti.php?id=$1 [NC,L]
RewriteRule ^getjadwaluser/([0-9]+)/?$ getjadwaluser.php?id=$1 [NC,L]